@model IvanovBand.WebUI.Models.ArticlesListViewModel

@{
    ViewBag.Title = "Новости джаз группы Ivanov Vibe Band, Джаз, фьюжн, этно-джаз";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@section LeftSection
{
    <div class="news-list">
        <h2>Новости</h2>
        @foreach (var a in Model.Articles)
        {
            <div class="item">
                <div class="img">
                    <a href="@Url.Action("Details", new { id = a.ArticleID, seoName = FriendlyUrlHelpers.GetSeoName(a.Title) })">
                        @Html.Image(Url.Content("~/content/uploads/images/" + a.ImagePath), a.Title, new { title = a.Title, @class = "img-border" })
                    </a>
                </div>
                 <div class="info">
                    <div class="date">@a.Date.ToShortDateString()</div>
                    <div class="title">@Html.ActionLink(a.Title, "Details", new { id = a.ArticleID, seoName = FriendlyUrlHelpers.GetSeoName(a.Title) })</div>
                    <div class="descr">@a.Description</div>
                </div>
            </div>
        }
    </div>
    <div class="pager">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new {page = x, category = Model.CurrentCategory})) 
    </div>   
}
@section RightSection
{
    @Html.Partial("_SocialBox")
}