@model IEnumerable<IvanovBand.Domain.Entities.Slide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="btn-box">
    @Html.ActionLink("Создать", "Create", "Slide", null, new { @class = "btn" })
</div>
<table class="content-table">
    <tr>
       <th>ID</th>
       <th>Название</th>
       <th>Изображение</th>
       <th>Ссылка</th>
    </tr>
@foreach (var s in Model)
{
  <tr>
    <td>@s.SlideID</td>
    <td>@Html.ActionLink(s.Title, "Edit", new { s.SlideID })</td>
    <td>@s.Image</td>
    <td>@s.Link</td>
    <td>@s.Order</td>
    <td>@using (Html.BeginForm("Delete", "Slide")) 
        {
            @Html.Hidden("SlideID", s.SlideID)
            <input type="submit" value="Delete"/>
        }
   </td>
  </tr>
}
</table>