@model IEnumerable<IvanovBand.Domain.Entities.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="btn-box">
    @Html.ActionLink("Создать", "Create", "Member", null, new { @class = "btn" })
</div>
<table class="content-table">
    <tr>
       <th>ID</th>
       <th>Имя</th>
       <th>Изображение</th>
       <th>Инструмент</th>
    </tr>
@foreach (var m in Model)
{
  <tr>
    <td>@m.MemberID</td>
    <td>@Html.ActionLink(m.Name, "Edit", new { m.MemberID })</td>
    <td>@m.Image</td>
    <td>@m.Instrument</td>
    <td>@using (Html.BeginForm("Delete", "Member")) 
        {
            @Html.Hidden("MemberID", m.MemberID)
            <input type="submit" value="Delete"/>
        }
   </td>
  </tr>
}
</table>